<div class="relative h-screen w-full overflow-hidden">

   <video #backgroundVideo muted onloadedmetadata="this.muted = true" autoplay loop id="backgroundVideo" class="absolute top-0 left-0 w-full h-full object-cover z-0">
    <source src="/videos/glassInstallation.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <div class="absolute top-0 left-0 w-full h-full bg-black/50 z-10"></div>

  <div class="relative z-20 flex items-center justify-center h-full text-center text-white px-4">
    <div>
      <h1 class="text-4xl md:text-5xl font-bold mb-4">SKYLIGHT KSA</h1>
      <p class="text-xl md:text-3xl mb-6">Precision in Glass, Excellence in Service.</p>
      <button class="bg-blue-500 duration-300 cursor-pointer hover:bg-blue-700 transition px-6 py-3 rounded-full text-white font-semibold">
        Learn More
      </button>
    </div>
  </div>
</div>



<section class="bg-gray-900 py-16 px-6 md:px-20 text-center">
  <div class="max-w-4xl mx-auto">
    <h2 class="text-3xl md:text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-cyan-500 mb-6">
      Global Leaders in Architectural Glass Solutions
    </h2>
    <p class="text-lg text-gray-400 mb-8">
        We specialize in precision-engineered glass installation solutions, combining cutting-edge technology with exceptional craftsmanship to deliver innovative, durable, and aesthetically refined results across residential, commercial, and architectural projects.
    </p>
    <a href="/assets/company-profile.pdf" download>
      <!-- <button class="bg-blue-600 hover:bg-blue-700 text-white px-8 py-3 rounded-full text-lg font-medium shadow-md transition">
        Download Company Profile
      </button> -->
            <button class="bg-blue-500 duration-300 cursor-pointer hover:bg-blue-700 transition px-6 py-3 rounded-full text-white font-semibold">
        Download Company Profile
      </button>
    </a>
  </div>
</section>
