<!-- <menu [class.open]="isOpen" class="glass-card">
  <a href="#" class="action"><i class="fab fa-linkedin"></i></a>
  <a href="#" class="action"><i class="fab fa-instagram"></i></a>
  <a href="#" class="action"><i class="fab fa-snapchat"></i></a>
  <a href="#" class="action"><i class="fab fa-facebook-f"></i></a>
  <a href="#" class="trigger bg-white" (click)="toggleMenu($event)"><img src="/sm.png" class="w-12 h-12" alt=""></a>
</menu> -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="wrapper">
  <ul>
    <li class="facebook">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <div class="slider">
        <p>facebook</p>
      </div>
    </li>
    
    <li class="linkedin">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
      <div class="slider">
        <p>linkedin</p>
      </div>
    </li>
    
    <li class="youtube">
      <i class="fa fa-youtube" aria-hidden="true"></i>
      <div class="slider">
        <p>youtube</p>
      </div>
    </li>
    
    <li class="snapchat">
      <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
      <div class="slider">
        <p>snapchat</p>
      </div>
    </li>
    
    <li class="instagram">
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <div class="slider">
        <p>instagram</p>
      </div>
    </li>
    
    <!-- <li class="whatsapp">
      <i class="fa fa-whatsapp" aria-hidden="true"></i>
      <div class="slider">
        <p>whatsapp</p>
      </div>
    </li> -->
  </ul>
</div>